:root {
  --main-light-bg-color: #EEEEEE;
  --main-dark-bg-color: #393E46;
  --black-color: #222831;
  --white-color: white;
  --teal-color: #00ADB5;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --shadow-checked: rgba(0, 173, 181, 0.9) 0px 1px 50px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-light-bg-color);
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.app .category {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: url("../images/girl-logo.svg") no-repeat;
  background-color: var(--main-dark-bg-color);
  background-size: 100% auto;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10% 1.5rem 1.5rem;
}
.app .category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.app .category-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-light-bg-color);
  padding: 1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin-top: 2rem;
}
.app .category-list__item:hover:first-child {
  cursor: pointer;
}
.app .category-list__item-all {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-dark-bg-color);
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.app .category-list__item input[type=text] {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-dark-bg-color);
}
.app .category-list__item-name {
  border: none;
  background-color: var(--main-light-bg-color);
  outline: none;
  width: 65%;
}
.app .category-list__item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .category-list__item-buttons img {
  width: 25px;
  height: 25px;
}
.app .category-list__item-buttons img:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}
.app .category-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-light-bg-color);
  padding: 1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  bottom: 10px;
}
.app .category-add__name {
  border: none;
  background-color: var(--main-light-bg-color);
  outline: none;
  width: 75%;
}
.app .category-add input[type=text] {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-dark-bg-color);
}
.app .category-add__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--teal-color);
}
.app .category-add__item:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.app .category .selected {
  -webkit-box-shadow: var(--shadow-checked);
          box-shadow: var(--shadow-checked);
}
.app .todo {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}