@charset "UTF-8";
:root {
  --main-light-bg-color: #EEEEEE;
  --main-dark-bg-color: #393E46;
  --black-color: #222831;
  --grey-color: grey;
  --white-color: white;
  --teal-color: #00ADB5;
  --shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
  --shadow-checked: rgba(0, 173, 181, 0.9) 0rem 0.063rem 0.313rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-light-bg-color);
}
body::-webkit-scrollbar {
  width: 12px;
  /* ширина всей полосы прокрутки */
}
body::-webkit-scrollbar-track {
  background: var(--main-light-bg-color);
  /* цвет зоны отслеживания */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-bg-color);
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
  border: 3px solid var(--main-light-bg-color);
  /* отступ вокруг бегунка */
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.app .todo {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 2rem;
}
.app .todo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .todo-header .greeting {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .todo-header .greeting-icon {
  width: 30px;
  height: auto;
}
.app .todo-header .greeting-header {
  color: var(--main-dark-bg-color);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.app .todo-header .greeting-item {
  margin-left: 0.2rem;
  background-color: var(--main-light-bg-color);
  border: none;
  font-size: 2rem;
  outline: none;
  color: var(--main-dark-bg-color);
  font-weight: 700;
  width: 50%;
}
.app .todo-header .add {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-dark-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  bottom: 0.625rem;
}
.app .todo-header .add input[type=text] {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-light-bg-color);
}
.app .todo-header .add-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: var(--main-dark-bg-color);
  outline: none;
  width: 75%;
}
.app .todo-header .add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.125rem solid;
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 1.563rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--teal-color);
}
.app .todo-header .add-item:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.app .todo-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
.app .todo-task img {
  margin-left: 750px;
  width: 40px;
  height: auto;
  opacity: 0.75;
}
.app .todo-task__text {
  color: var(--main-dark-bg-color);
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.75;
  margin-left: 0.75rem;
}
.app .todo-title {
  margin-top: 5.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .todo-title img {
  opacity: 0.75;
  width: 25px;
  height: auto;
}
.app .todo-title__header {
  display: inline-block;
  color: var(--main-dark-bg-color);
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.75;
}
.app .todo-title__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 81%;
      flex-basis: 81%;
}
.app .todo-title__search {
  margin-right: 25px;
}
.app .todo-title__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  background-color: var(--main-dark-bg-color);
  padding: 0.5rem;
  font-weight: 500;
  color: var(--main-light-bg-color);
  border-radius: 10px;
  width: 7rem;
}
.app .todo-title__clear img {
  margin-left: 5px;
  width: 1.563rem;
  height: 1.563rem;
}
.app .todo-title__clear img:hover {
  cursor: pointer;
  opacity: 0.5 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.app .todo-title__counter {
  display: inline-block;
  color: var(--main-dark-bg-color);
  font-size: 2rem;
  font-weight: 500;
  width: 30%;
}
.app .todo-title__counter input {
  outline: none;
  border: none;
  background-color: var(--main-light-bg-color);
  color: var(--main-dark-bg-color);
  font-size: 2rem;
  font-weight: 500;
  width: 23%;
}
.app .todo-line {
  border: none;
  border-bottom: 0.125rem solid;
  border-radius: 6.25rem;
  color: var(--main-dark-bg-color);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  opacity: 0.75;
}
.app .todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}
.app .todo-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  background-color: var(--main-dark-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin-top: 1.5em;
  z-index: 1;
}
.app .todo-list__item:nth-child(-n+2) {
  margin-top: 0;
}
.app .todo-list__item label input[type=checkbox] {
  display: none;
}
.app .todo-list__item label div {
  width: 1rem;
  height: 1rem;
  border: solid 0.125rem var(--teal-color);
  border-radius: 0.3rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .todo-list__item label div img {
  width: 100%;
  height: auto;
  display: none;
}
.app .todo-list__item label input[type=checkbox]:checked + div {
  -webkit-box-shadow: var(--shadow-checked);
          box-shadow: var(--shadow-checked);
}
.app .todo-list__item label input[type=checkbox]:checked + div img {
  display: block;
}
.app .todo-list__item-name {
  border: none;
  background-color: var(--main-dark-bg-color);
  outline: none;
  width: 65%;
}
.app .todo-list__item input[type=text] {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-light-bg-color);
  margin-left: -5rem;
}
.app .todo-list__item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .todo-list__item-buttons img {
  width: 1.563rem;
  height: 1.563rem;
}
.app .todo-list__item-buttons img:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}
.app .rotate-addButton {
  -webkit-animation: rotation 0.5s 1 linear;
          animation: rotation 0.5s 1 linear;
}
.app .complete {
  text-decoration: line-through;
  color: var(--main-light-bg-color) !important;
  opacity: 0.5;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.createdby {
  position: fixed;
  right: 0;
  bottom: 0;
  font-family: "Josefin Sans", sans-serif;
  opacity: 0.5;
  padding: 1rem;
}
.createdby-item {
  text-align: right;
  color: var(--main-dark-bg-color);
  margin-left: auto;
}
.createdby-item__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

@media (max-width: 992px) {
  .app .category {
    display: none;
  }
  .app .todo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .app .todo-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .app .todo-header .greeting {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .app .todo-header .add {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 1.25rem;
  }
  .app .todo-list__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 1.25rem !important;
  }
  .app .todo-list__item:first-child {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .app .todo-title {
    margin-top: 3.125rem;
  }
  .app .todo-title__header {
    font-size: 1.5rem;
  }
  .app .todo-title__item {
    font-size: 1.5rem;
  }
  .app .todo-header .greeting-header {
    font-size: 1.5rem;
  }
  .app .todo-header .greeting-item {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .app .todo-title__header {
    font-size: 1rem;
  }
  .app .todo-title__item {
    font-size: 1rem;
  }
  .app .todo-header .greeting-header {
    font-size: 1rem;
  }
  .app .todo-header .greeting-item {
    font-size: 1rem;
  }
  .app .todo-header .add input[type=text] {
    font-size: 1rem;
  }
  .app .todo-list__item input[type=text] {
    font-size: 1rem;
  }
}