.todo__success-alert {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    right: 8%;
    top: 150px;
    color: $white-color;
    background-color: $teal-color;
    border-radius: 10px;
    box-shadow: $shadow-checked;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.todo__copy-alert,
.todo__warning-alert {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    right: 8%;
    top: 150px;
    color: $white-color;
    background-color: $alert-color;
    border-radius: 10px;
    box-shadow: $shadow-alert;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.display-flex {
    display: flex;
}