.createdby {

    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    opacity: .5;

    &-item {
        color: $main-dark-bg-color;
        margin-left: auto;
        text-align: right;
        user-select: none;

        &__link {
            color: inherit;
            font-weight: 700;
            text-decoration: none;
        }
    }
}