body {
    background-color: $main-light-bg-color;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $main-light-bg-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-dark-bg-color;
        border-radius: 20px;
        border: 3px solid $main-light-bg-color;
    }

    // Firefox
    // scrollbar-width: thin;          /* "auto" или "thin" */
    // scrollbar-color: blue orange;   /* цвет бегунка и зоны отслеживания */
}

.app {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 93vh;

    .todo {
        flex-basis: 80%;
        padding: 2rem;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .greeting {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-basis: 50%;

                &-icon {
                    width: 30px;
                    height: auto;
                }

                &-header {
                    color: $main-dark-bg-color;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-left: 8px;
                }

                &-item {
                    color: $main-dark-bg-color;
                    background-color: $main-light-bg-color;
                    border: none;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-left: 3px;
                    outline: none;
                    width: 42%;
                }
            }

            .add {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-basis: 50%;
                background-color: $main-dark-bg-color;
                bottom: 10px;
                border-radius: 16px;
                box-shadow: $shadow;
                padding: 1rem;

                input[type=text] {
                    color: $main-light-bg-color;
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                &-form {
                    flex: 1;
                    border: none;
                    background-color: $main-dark-bg-color;
                    outline: none;
                    width: 75%;
                }

                &-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid;
                    width: 25px;
                    height: 25px;
                    color: $teal-color;
                    border-radius: 25px;
                    font-size: 1.1rem;
                    font-weight: 500;

                    &:hover {
                        cursor: pointer;
                        transition: .5s;
                        opacity: .5;
                    }
                }
            }
        }

        &-task {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 16px;

            img {
                width: 40px;
                height: auto;
                opacity: .75;
                user-select: none;
            }

            &__text {
                color: $main-dark-bg-color;
                font-size: 2rem;
                font-weight: 500;
                margin-left: 12px;
                opacity: .75;
                user-select: none;
            }
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 84px;

            &__left {
                display: flex;
                align-items: center;
            }

            img {
                width: 25px;
                height: auto;
                opacity: .75;
                user-select: none;
            }

            &__header {
                display: inline-block;
                color: $main-dark-bg-color;
                font-size: 2rem;
                font-weight: 500;
                opacity: .75;
                user-select: none;
            }

            &__right {
                display: flex;
                align-items: center;
            }

            &__clear {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 112px;
                color: $main-light-bg-color;
                background-color: $main-dark-bg-color;
                border-radius: 10px;
                box-shadow: $shadow;
                font-weight: 500;
                margin-right: 25px;
                padding: .5rem;
                user-select: none;

                img {
                    width: 25px;
                    height: 25px;
                    margin-left: 5px;
                }

                img:hover {
                    cursor: pointer;
                    opacity: .5;
                    transition: .5s;
                }
            }

            &__counter {
                display: flex;
                align-items: center;
                color: $main-dark-bg-color;
                font-size: 2rem;
                font-weight: 500;
                user-select: none;
                opacity: .75;

                input {
                    max-width: 64px;
                    color: $teal-color;
                    background-color: $main-light-bg-color;
                    border: none;
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                    outline: none;
                }
            }
        }

        &-line {
            color: $main-dark-bg-color;
            border: none;
            border-bottom: 2px solid;
            border-radius: 100px;
            box-shadow: $shadow;
            opacity: .75;
        }
    }
}