.app {
    .todo {
        &-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 2rem;

            &__empty {
                color: $main-dark-bg-color;
                font-size: 10rem;
                font-weight: 500;
                margin-top: 100px;
                opacity: .1;
                text-align: center;
                user-select: none;
            }


            &__item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-basis: 48%;
                background-color: $main-dark-bg-color;
                border-radius: 1rem;
                box-shadow: $shadow;
                margin-top: 24px;
                padding: 1rem;
                z-index: 1;

                &:nth-child(-n+2) {
                    margin-top: 0;
                }

                label {
                    input[type='checkbox'] {
                        display: none;
                    }

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 16px;
                        height: 16px;
                        border: solid 2px $teal-color;
                        border-radius: 0.3rem;
                        cursor: pointer;

                        img {
                            display: none;
                            width: 100%;
                            height: auto;
                        }
                    }

                    input[type='checkbox']:checked+div {
                        box-shadow: $shadow-checked;
                    }

                    input[type='checkbox']:checked+div img {
                        display: block;
                    }
                }

                &-name {
                    background-color: $main-dark-bg-color;
                    border: none;
                    outline: none;
                    width: 65%;
                }

                input[type=text] {
                    color: $main-light-bg-color;
                    font-size: 1.2rem;
                    font-weight: 500;
                    flex-basis: 80%;
                }

                &-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;

                        &:hover {
                            cursor: pointer;
                            transition: .5s;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}