$main-light-bg-color: #EEEEEE;
$main-dark-bg-color: #393E46;
$black-color: #222831;
$white-color: white;
$teal-color: #00ADB5;
$alert-color: #F32424;
$shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
$shadow-checked: rgba(0, 173, 181, 0.9) 0rem 0.063rem 0.313rem;
$shadow-alert: rgba(243, 36, 36, 0.9) 0rem 0.063rem 0.313rem;