$main-light-bg-color: #EEEEEE;
$main-dark-bg-color: #393E46;
$black-color: #222831;
$white-color: white;
$teal-color: #00ADB5;
$alert-color: #F32424;
$shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
$shadow-checked: rgba(0, 173, 181, 0.9) 0rem 0.063rem 0.313rem;
$shadow-alert: rgba(243, 36, 36, 0.9) 0rem 0.063rem 0.313rem;

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: $main-light-bg-color;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 12px;
        /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        background: $main-light-bg-color;
        /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-dark-bg-color;
        /* цвет бегунка */
        border-radius: 20px;
        /* округлось бегунка */
        border: 3px solid $main-light-bg-color;
        /* отступ вокруг бегунка */
    }

    // Firefox
    // scrollbar-width: thin;          /* "auto" или "thin" */
    // scrollbar-color: blue orange;   /* цвет бегунка и зоны отслеживания */
}

.app {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 93vh;

    .todo {
        flex-basis: 80%;
        padding: 2rem;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .greeting {
                flex-basis: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &-icon {
                    width: 30px;
                    height: auto;
                }

                &-header {
                    color: $main-dark-bg-color;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-left: .5rem;
                }

                &-item {
                    margin-left: 0.2rem;
                    background-color: $main-light-bg-color;
                    border: none;
                    font-size: 2rem;
                    outline: none;
                    color: $main-dark-bg-color;
                    font-weight: 700;
                    width: 42%;
                }
            }

            .add {
                flex-basis: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $main-dark-bg-color;
                padding: 1rem;
                border-radius: 1rem;
                box-shadow: $shadow;
                bottom: 0.625rem;

                input[type=text] {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $main-light-bg-color;
                }

                &-form {
                    flex: 1;
                    border: none;
                    background-color: $main-dark-bg-color;
                    outline: none;
                    width: 75%;
                }

                &-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.125rem solid;
                    width: 1.563rem;
                    height: 1.563rem;
                    border-radius: 1.563rem;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $teal-color;

                    &:hover {
                        cursor: pointer;
                        opacity: .5;
                        transition: .5s;
                    }
                }
            }
        }

        &-task {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 1rem;

            img {
                width: 40px;
                height: auto;
                opacity: 0.75;
                user-select: none;
            }

            &__text {
                color: $main-dark-bg-color;
                font-size: 2rem;
                font-weight: 500;
                opacity: 0.75;
                margin-left: .75rem;
                user-select: none;
            }
        }

        &-title {
            margin-top: 5.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left {
                display: flex;
                align-items: center;
            }

            img {
                opacity: .75;
                width: 25px;
                height: auto;
                user-select: none;
            }

            &__header {
                display: inline-block;
                color: $main-dark-bg-color;
                font-size: 2rem;
                font-weight: 500;
                opacity: .75;
                user-select: none;
            }

            &__right {
                display: flex;
                align-items: center;
            }

            &__clear {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 25px;
                background-color: $main-dark-bg-color;
                padding: .5rem;
                font-weight: 500;
                color: $main-light-bg-color;
                border-radius: 10px;
                width: 7rem;
                box-shadow: $shadow;
                user-select: none;

                img {
                    margin-left: 5px;
                    width: 1.563rem;
                    height: 1.563rem;
                }

                img:hover {
                    cursor: pointer;
                    opacity: .5 !important;
                    transition: .5s;
                }
            }

            &__counter {
                display: flex;
                align-items: center;
                color: $main-dark-bg-color;
                font-size: 2rem;
                font-weight: 500;
                user-select: none;
                opacity: .75;

                input {
                    outline: none;
                    border: none;
                    background-color: $main-light-bg-color;
                    color: $teal-color;
                    font-size: 2rem;
                    font-weight: 700;
                    max-width: 4rem;
                }
            }
        }

        &-line {
            border: none;
            border-bottom: 0.125rem solid;
            border-radius: 6.25rem;
            color: $main-dark-bg-color;
            box-shadow: $shadow;
            opacity: .75;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 2rem;


            &__item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-basis: 48%;
                background-color: $main-dark-bg-color;
                padding: 1rem;
                border-radius: 1rem;
                box-shadow: $shadow;
                margin-top: 1.5rem;
                z-index: 1;

                &:nth-child(-n+2) {
                    margin-top: 0;
                }

                label {
                    input[type='checkbox'] {
                        display: none;
                    }

                    div {
                        width: 1rem;
                        height: 1rem;
                        border: solid 0.125rem $teal-color;
                        border-radius: 0.3rem;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: auto;
                            display: none;
                        }
                    }

                    input[type='checkbox']:checked+div {
                        box-shadow: $shadow-checked;
                    }

                    input[type='checkbox']:checked+div img {
                        display: block;
                    }
                }

                &-name {
                    border: none;
                    background-color: $main-dark-bg-color;
                    outline: none;
                    width: 65%;
                }

                input[type=text] {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $main-light-bg-color;
                    flex-basis: 80%;
                }

                &-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 1.563rem;
                        height: 1.563rem;

                        &:hover {
                            cursor: pointer;
                            transition: .5s;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    .rotate-addButton {
        animation: rotation .5s 1 linear;
    }

    .complete {
        text-decoration: line-through;
        opacity: .5;

    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(180deg);
        }
    }
}

.createdby {

    font-family: 'Josefin Sans', sans-serif;
    opacity: .5;
    padding: 1rem;

    &-item {
        text-align: right;
        color: $main-dark-bg-color;
        margin-left: auto;
        user-select: none;

        &__link {
            text-decoration: none;
            color: inherit;
            font-weight: 700;
        }
    }
}

.todo__success-alert {
    position: absolute;
    right: 4%;
    top: 150px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $teal-color;
    border-radius: 10px;
    box-shadow: $shadow-checked;
    color: $white-color;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.todo__copy-alert,
.todo__warning-alert {
    position: absolute;
    right: 4%;
    top: 150px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $alert-color;
    border-radius: 10px;
    box-shadow: $shadow-alert;
    color: $white-color;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.slide-in-right {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  


// Responsive

@media (max-width: 992px) {
    .todo {
        &-header{
            .greeting {
                &-header{
                    font-size: 1.6rem !important;
                }

                &-item {
                    font-size: 1.6rem !important;
                }
            }

            .add {
                &-form {
                    font-size: 1.1rem !important; 
                }
            }
        }
        &-task {
            &__text {
                font-size: 1.6rem !important;
            }
        }

        &-title {
            &__header {
                font-size: 1.6rem !important;
            }

            &__clear {
                margin-right: 15px !important;
            }

            &__counter {
                font-size: 1.6rem !important;

                input {
                font-size: 1.6rem !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .todo {

        .todo__success-alert{
            top: 220px;
        }

        .todo__copy-alert,
        .todo__warning-alert {
            top: 220px;
        }

        flex-basis: 100% !important;
        &-header{
            flex-direction: column;
            .greeting {
                justify-content: center !important;
                &-header{
                    font-size: 1.3rem !important;
                }

                &-item {
                    font-size: 1.3rem !important;
                }
            }

            .add {
                width: 100%;
                margin-top: 25px;
                &-form {
                    font-size: 1rem !important; 
                }
            }
        }
        &-task {
            &__text {
                font-size: 1.3rem !important;
            }
        }

        &-title {
            flex-direction: column;
            &__right {
                margin-top: 25px;
            }

            &__header {
                font-size: 1.3rem !important;
            }

            &__clear {
                margin-right: 15px !important;
                font-size: 0.8rem;
                width: 6rem !important;
            }

            &__counter {
                font-size: 1.3rem !important;

                input {
                font-size: 1.3rem !important;
                }
            }
        }

        &-list {
            flex-direction: column;

            &__item {

                &-name {
                    font-size: 1rem !important;
                }

                &:nth-child(-n+2) {
                    margin-top: 1.5rem !important;
                }

                &:first-child {
                    margin-top: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 576px) {
.app {
    min-height: 85vh;
    .todo {

        &-header{
            flex-direction: column;
            .greeting {
                flex-direction: column;
                &-header{
                    font-size: 1.2rem !important;
                    margin-top: 15px;
                }

                &-item {
                    font-size: 1.2rem !important;
                    width: 100% !important;
                    text-align: center;
                }
            }

            .add {
                &-form {
                    font-size: 0.9rem !important; 
                }
            }
        }
        &-task {
            &__text {
                font-size: 1.2rem !important;
            }
        }

        &-title {
            &__right {
                flex-direction: column;
            }

            &__header {
                font-size: 1.2rem !important;
            }

            &__clear {
                margin-bottom: 25px;
            }

            &__counter {
                font-size: 1.2rem !important;

                input {
                font-size: 1.2rem !important;
                text-align: center;
                }
            }
        }

        &-list {

            &__item {

                &:nth-child(-n+2) {
                    margin-top: 1.3rem !important;
                }

                &:first-child {
                    margin-top: 0 !important;
                }
            }
        }

        &__copy-alert, &__warning-alert, &__success-alert {
            margin-top: 50px;
        }
    } 
}
}